@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
}
